.app{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  /* background: #ffffcc; */
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box{
  width: 50%;
  border: none;
  padding: 10px;
  justify-content: space-around;
}

.search-button{
  background: black;
  border: none;
  padding: 10px 20px;
  color:whitesmoke;
  
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipe-comp{
  min-height: 10vh;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(116, 113, 113);
  margin: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.query{
  /* min-width: 5px; */
  border-radius: 7px;
  box-shadow: 0px 5px 5px rgb(116, 113, 113);
  margin: 20px;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;

}

.image{
  border: 3px solid black;
  border-radius: 6%;
  image-rendering: optimizeQuality;
}
.yt{
  border: 3px solid black;
  /* border-radius: px; */
  background: lightblue;
  /* justify-content: space-between; */
}